/* Copyright (C) 2002-2021 CERN for the benefit of the ATLAS collaboration */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    display: grid;
    width: 100%;
    border: 0;
}

.header h1 {
    font-size: 20px;
}

#intro {
    margin-top: 100px;
    width: 50%;
    background-color: #ddd;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 95%;
    align-items: stretch;
}

#graph-container {
    flex: auto;
    height: 90%;
    border: 0;
}

#txt {
    display: none;
}

ul#packages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow:hidden;
  overflow-y:scroll;
}

#packages li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 1px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#packages li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

